.button {
  display: inline-block;
  padding: 20px 45px;
  vertical-align: top;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @blue;
  border: none;
}
