.gallery {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 0 20px;
}

.gallery__main-header {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.gallery__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.gallery__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.gallery__item {
  padding-bottom: 22px;
  padding-top: 22px;
}

.gallery__header {
  font-size: 14px;
  line-height: 24px;
}

.gallery__photo {
  display: block;
  width: 280px;
}

.gallery__author {
  margin: 0;
  text-transform: none;
}

.gallery__likes {
  display: flex;
}

.gallery__likes-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.gallery__likes-icon {
  margin-right: 15px;
  fill: #b2b2b2
}

.gallery__video-text {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.gallery__video-description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gallery {
    width: auto;
  }

  .gallery__wrapper {
    width: 648px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .gallery__main-header {
    font-size: 30px;
  }

  .gallery__description {
    margin-bottom: 70px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }

  .gallery__item {
    width: 50%;
    padding: 0;
  }

  .gallery__item:nth-child(1) {
    width: 100%;
  }

  .gallery__photo {
    width: 100%;
  }

  .gallery__photo-info {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
  }

  .gallery__likes {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    width: @desktop-width;
    padding: 0;
  }

  .gallery__item {
    position: relative;
    width: 33.33%;
  }

  .gallery__photo-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: @white;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__likes-icon {
    fill: @white;
  }
}
