.intro {
  background-color: #88b9d9;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro__description {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
  text-transform: uppercase;
  background-color: @white;
}