.review {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 0 20px;
}

.review__main-header {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.review__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.review__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.review__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review__feeling-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review__sights-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
