.site-navigation {
  padding: 0 20px;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  background-color: @blue;
}

.site-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation__link {
  color: @white;
  text-decoration: none;
}
