.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 47px;
  height: 47px;
  background-color: @blue;
}

.social__item {
  position: relative;
}

.social__item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__item path {
  fill: @white;
}
