.tips {
  padding: 35px 20px;
}

.tips__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tips__item {
  margin-bottom: 30px;
  margin-left: 50px;
}

.tips__item:last-child {
  margin-bottom: 0;
}

.tips__header {
  text-align: left;
}

.tips__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .tips {
    padding: 0;
  }

  .tips__list {
    display: flex;
  }

  .tips__item {
    width: 33.33%;
    margin: 0;
  }
}
